@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');




/*Header styling */

header {
    height: 4rem;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header span a {
    color:white;
    text-decoration: none;
    padding-left: 2rem;
    font-family: serif;
    font-size: 2rem;
}

/* = Sign */
#popupbar {
    padding-right: 2rem;
    font-size: 3rem;
}


/* Sections settings */

main section {
    height:40rem;
}

/*intro */

#intro {
    
    position: relative;
    top: 3rem;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10,1fr);
    background-color: rgb(73, 73, 73);
    width: 100%;
    right: 0;
    left: 0;
    background-image: url('./../images/test2.jpg');
    background-size:cover;
}

#intro h1 {
    display: grid;
    grid-area: 3 / 2 / 4 / 11;
    font-size: 3rem;
    color: white ;
    font-family: 'Playfair Display';

}

#intro h2 {
     grid-area: 4 / 2 / 5 / 11;
     color: white ;
     font-family: 'Playfair Display';
     font-size: 2rem;


}

#intro div {
    grid-area: 5 / 3 / 8 / 11;
    
}
#intro p {
    font-size: 2rem;
    color: white;
}

#intro ul {
    font-size: 2rem;
    color: white;
}

#intro a {
    color: white;
    text-decoration: none;
    font-size: 3rem;

}
#intro a:hover {
    color: rgba(255, 255, 255, 0.555);
    text-decoration: underline;

}


/* The skillset section */


