@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: black;
}


/*Header styling */

header {
    height: 4rem;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    
    z-index: 10;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#popupbar {
    margin:0.3rem  0.3rem 0 0;
    
}


#popupbar:hover {
    cursor: pointer;
}


#popuptable {
    display: none;
    position: relative;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: 1px solid rgb(7, 6, 6);
    margin-left: auto;
    margin-right: 0;
    float: right;
} 


#popuptable td {
    border: 1px solid rgb(7, 6, 6);

}

header span a {
    color:white;
    text-decoration: none;
    padding-left: 2rem;
    font-family: serif;
    font-size: 2rem;
}

/* = Sign */
#popupbar {
    padding-right: 2rem;
    font-size: 3rem;
    
}


/* Sections settings */

main section {
    height:55rem;
    
}

/*intro */

#intro {
    position: relative;
    top: 3rem;
    
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10,1fr);
    
    width: 100%;
    right: 0;
    left: 0;
    background-image: url('./../images/intro-background-image.jpeg.jpg');
    background-size:cover;
}

#intro h1 {
    display: grid;
    grid-area: 3 / 2 / 4 / 11;
    font-size: 3rem;
    color: white ;
    font-family: 'Playfair Display';

}

#intro h2 {
     grid-area: 4 / 2 / 5 / 11;
     color: white ;
     font-family: 'Playfair Display';
     font-size: 2rem;


}

#intro div {
    grid-area: 5 / 3 / 8 / 11;
    
}
#intro p {
    font-size: 2rem;
    color: white;
}

#intro ul {
    font-size: 2rem;
    color: white;
}

#intro a {
    color: white;
    text-decoration: none;
    font-size: 3rem;

}
#intro a:hover {
    color: rgba(255, 255, 255, 0.555);
    text-decoration: underline;

}
/* Div breakers modifying for transition.AKA:The images next to each other are awful */
.breaker {
    height: 8rem;
    position: relative;
    z-index: 1;
    
    top: 2rem;
}

/* The skillset section */

#skillset {
    position: relative;
    top:2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    
    color: white;
    background-image: url('./../images/skillset-background-image.jpg');
    background-size:cover;
}

#skillset h2 {
    position: relative;
    bottom:6rem ;
    font-size: 4rem;
}

#skillset ul {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

/*Some of my work */

#work { 
    color: white;
    background-color: rgba(128, 128, 128, 0.664);
    height: auto;
    min-height: 50rem;
}


#work h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10rem;
}

#work ul {
    font-size: 2rem;
}
#work li {
    margin: 3rem 0rem 6rem 8rem;
    cursor: pointer;
}
#work img {
    width: 40rem;
    height: 35rem;
}
#work a {
    color:white;
}

/*Popups of work*/

#popupone,#popuptwo {
    display:none;
}


footer {
    color: white;
}